.profile {
  display: flex;
  gap: 16px;
  flex: 1;

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: white;
    cursor: pointer;

    &.fake {
      background-color: rgba(255, 255, 255, 0.35);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .data {
    display: flex;
    flex-direction: column;

    .input {
      background-color: transparent;
      border: none;
      min-width: 15px;
      color: white;
      font-family: Roboto, sans-serif;

      &:disabled {
        cursor: default;
      }
    }

    .chips {
      display: flex;
      gap: 10px;
    }

    .info {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;

      .name {
        display: flex;
        align-items: flex-end;

        .textContainer {
          height: 16px;
        }

        .text {
          font-weight: 700;
          font-size: 14px;
          font-family: Roboto, sans-serif;
          line-height: 100%;
        }

        .icon {
          width: 14px;
          height: 14px;
          margin-left: 4px;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }

      .textContainer {
        height: 12px;
      }

      .email {
        font-weight: 400;
        font-size: 12px;
        font-family: Roboto, sans-serif;
        line-height: 50%;
      }
    }
  }
}
